# Исключаем базы данных
db.sqlite3

# Исключаем файлы миграций Django
*/migrations/

# Исключаем виртуальную среду
.venv/

# Исключаем файлы кэша
__pycache__/

# Исключаем дампы базы данных
data.json

# Игнорировать все файлы с расширением .log
*.log
env
.env
